* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    margin-bottom: 20px;
}



.encaixe {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    margin-top: -5px;
    margin-left: -5px;
}
.digital {
    color: #FFF;
    font-size: 60px;
    margin-top: 30px;
    border: 5px solid rgb(179, 17, 17);
    border-radius: 25px;
    bor
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}